.flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game_window{
	width:  500px;
	height: 400px;
}

.game_background{
	background: url(game_assets/Game-Background.svg);
}

.game_canvas{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

.game_title{
	background: url(game_assets/Game-Title.svg);
	width: 234px;
	height: 77px;
	margin-top: 10%;
}

.game_title_vert_offset{
	height: 10%;
}

.play_button{
	height:100px;
	width: 100px;
	margin-bottom: 10%;
	background-image: url(game_assets/Play_Button.svg);
	background-size: cover;
}

.top_bar{
	height: 50px;
	width: 100%;
}

.choice_container{
	flex: 2 1 auto;
	display: flex;
}

.choice_button{
	height: 40%;
	width: 35%;
	margin: auto;
	background-image: url(game_assets/Choice_Button.svg);
	background-size: cover;
	font-size: 50px;
}

.timer{
	height: 100%;
	width: 100px;
}

.timer_text{
	text-align: center;
	font-size: 50px;
}

.score_title {
	height: 10%;
}

.score {
	height: 10%;
}

.replay_button{
	height:60px;
	width: 60px;
	margin-bottom: 10%;
	background-image: url(game_assets/Replay_Button.svg);
	background-size: cover;
}
